<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @job.姓名 %>
</p>

<p>
  <strong>電郵:</strong>
  <%= @job.電郵 %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
